.wrapper {
  padding: 48px 12px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: blue;
  color: white;
  text-align: center;
}

.textarea {
  height: 200vh;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 1em;
}

.center {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  padding: 8px;
  background-color: green;
  color: white;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: red;
  color: white;
  text-align: center;
}
